<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Poor man's stackoverflow{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/static/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row bg-info text-white">
        <div class="col-sm-4">
            <h3 class="display-4"><a href="/">Haster</a></h3>
            <p class="lead">Poor man's stackoverflow</p>
        </div>
        <div class="col-sm-5 align-middle">
            <form action="{% url 'search' %}">
                <input type="text" name="q" class="form-control" placeholder="Search..." value="{{ request.GET.q }}">
            </form>
        </div>
        <div class="col-sm-3">
            {% if user.is_authenticated %}
                {% include '_avatar.html' with avatar=user.avatar width="100" height="100" %}
                <p><a href="{% url 'account' %}">{{ user.get_username }}</a></p>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'registration' %}">Registration</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div> <!-- endrow -->

    <div class="row">
        <div class="col-sm-9 pt-3 pl-0 pb-5">

            {% block content %}
            {% endblock %}

        </div>
        <div class="col-sm-3 p-3">
            <div class="container text-center my-5">
                <a class="btn btn-primary" href="{% url 'new_question' %}" role="button">Ask Question!</a>
            </div>
            {% load trending_questions %}
            {% get_trending_questions %}

        </div>
    </div> <!-- endrow -->
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
                Footer
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>