{% load static %}
{% load thumbnail %}

<div class="container p-0">
    <div class="row">
        <div class="col-sm-3">
            {% thumbnail question.author.profile.avatar "60x60" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail"/>
            {% empty %}
                <img src="{% static 'images/default.png' %}" width="60" height="60" class="img-thumbnail"/>
            {% endthumbnail %}

            <span class="badge badge-success p-2 bg-white border text-success">
                {{ question.votes_sum }}<br />
                <small>votes</small>
            </span>
            <span class="badge badge-success p-2 border {% if question.has_answer %}text-white{% else %}bg-white text-success{% endif %}">
                {{ question.count_answers }}<br />
                <small>answers</small>
            </span>

        </div>
        <div class="col-sm-9 p-0 pr-3">
            <a href="{% url 'question' question.id %}">{{ question.title|truncatechars:128 }}</a>
            <br />
            {% for tag in question.tags.all %}
                <span class="badge badge-secondary">{{ tag.name }}</span>
            {% endfor %}
            <br />

            <div class="text-right">
                <small class="text-black-50">Asked {{ question.created_at|timesince }} ago
                    <a href="#">{{ question.author }}</a></small>
            </div>
        </div>
    </div>
</div>
<hr class="my-1">